header, footer {
    background-color: #34495E;
    color: #CACFD2;
} 
header {
    background-image: linear-gradient(to right, #34495E , #5D6D7E);
}
.navbar {
    background-color: #212F3C;
}
body {
    font-family: 'Righteous' ;
}
.dropdown-menu {
    background-color: #CACFD2;
    width: max-content;
    /* right: 0 !important;
    left: auto !important; */
}
#welcomeMessage {
    color: #CACFD2;
}
#welcomeMessage p {
    margin-bottom: 0;
}
#searchBar {
    width: 150px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
}
.carousel-item {
    text-align: center;
    vertical-align: middle;
    height: 400px;
}
.carousel-item img {
    max-height:100%;
    max-width:100%;

}
#cartLink {
    font-size: 50px;
    color: orange;
    padding: 0px;
    margin: 0px;
}
header h1, .navbar-dark .navbar-nav .active>.nav-link, .attention {
    color: orange;
}
header .form-contro {
    background-color: #1B2631 ;
}
/* todo: make it so after clicked button the color is good */
.orangeButton {
    background-color: orange;
    color: #1B2631;
}
.errorMessage {
    color: red;
}

.cartImg {
    max-height: 150px;
    max-width: 100%;
}
div.col img {
    max-width: 100%;
}

.furniture-card {
    height: 100%;
}

.furniture-card div.col p {
    text-align: center;
}

/* border */

.border {
    border-color: red;
    border-style: solid;

}
